form  { display: table;      }
p     { display: table-row;  }
label { display: table-cell; }
input { display: table-cell; }
th    {text-align: left;     }
td    {padding: 4px; }
div   {font-family:Arial,"libra sans",sans-serif; }

.monitors-and-strobes {width:450px; float: left}
.devices {width:460px; float: left}
.program {width:400px; float: left}
.program-list {overflow:scroll; height:500px;}
.item-aligned {display:table;}
.comment {color: green; font-weight:bold}
.running {color: red; font-weight:bold}
.to-run {color: black; background-color: grey}
.ran {color: gray; font-weight:lighter}
.ai-device-label{color: black; text-align: left; width: 210px; height: 30px;}
.ao-device-label{color: black; text-align: left; width: 150px; height: 30px;}
.di-device-label{color: black; text-align: left; width: 180px;}
.do-device-label{color: black; text-align: left; width: 210px;}
.d-increaser-label{color: black; text-align: left; width: 100px;}
.d-sensor-label{color: black; text-align: left; width: 140px;}

.btn-disable
        {
        cursor: fdefault;
        pointer-events: fnone;
        /*Button disabled - CSS color class*/
        color: #c0c0c0;
        background-color: #ffffff;
        }

.btn-enable
        {
        cursor: fdefault;
        pointer-events: fauto;
        color: #000000;
        background-color: #c0c0c0;
        }



input[type=checkbox] {
	visibility: hidden;
}

.digital-in {
	width: 25px;
	height: 25px;
	background: #ddd;
	margin: 5px 5px;

	border-radius: 100%;
	position: relative;
	box-shadow: 0px 1px 3px rgba(0,0,0,1.5);
}

.digital-in label {
	display: block;
	width: 15px;
	height: 15px;
	border-radius: 100px;

	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 1;

	background: #333;
	box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
}

.digital-in input[type=checkbox]:checked + label {
	background: #26ca28;
}

.digital-in input[type=checkbox]:not(:checked) + label {
	background: #000000;
}


/**
 * Checkbox Three
 */
.digital-out {
	width: 75px;
	height: 23px;
	background: #333;
	margin: 3px 4px;

	border-radius: 50px;
	position: relative;
}

/**
 * Create the text for the On position
 */
.digital-out:before {
	content: 'on';
	position: absolute;
	top: 1px;
	left: 13px;
	height: 2px;
	color: #26ca28;
	font-size: 16px;
}

/**
 * Create the label for the off position
 */
.digital-out:after {
	content: 'off';
	position: absolute;
	top: 2px;
	left: 44px;
	height: 2px;
	color: #aaa;
	font-size: 16px;
}

/**
 * Create the pill to click
 */
.digital-out label {
	display: block;
	width: 36px;
	height: 15px;
	border-radius: 50px;

	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 4px;
	z-index: 1;
	left: 5px;
	background: #ddd;
}

/**
 * Create the checkbox event for the label
 */
.digital-out input[type=checkbox]:checked + label {
	left: 34px;
	background: #26ca28;
}