form  { display: table;      }
p     { display: table-row;  }
label { display: table-cell; }
input { display: table-cell; }
th    {text-align: left;     }
td    {padding: 4px; }
div   {font-family:Arial,"libra sans",sans-serif; }

.comment {color: green; font-weight:bold}
.running {color: red; font-weight:bold}
.to-run {color: black; background-color: grey}
.ran {color: gray; font-weight:lighter}
.ai-device-label{color: black; text-align: left; width: 210px;}
.ao-device-label{color: black; text-align: left; width: 150px;}
.di-device-label{color: black; text-align: left; width: 180px;}
.do-device-label{color: black; text-align: left; width: 210px;}
.d-increaser-label{color: black; text-align: left; width: 100px;}
.d-sensor-label{color: black; text-align: left; width: 140px;}

.btn-disable
        {
        cursor: fdefault;
        pointer-events: fnone;
        /*Button disabled - CSS color class*/
        color: #c0c0c0;
        background-color: #ffffff;
        }

.btn-enable
        {
        cursor: fdefault;
        pointer-events: fauto;
        color: #000000;
        background-color: #c0c0c0;
        }



input[type=checkbox] {
	visibility: hidden;
}

.digital-in {
	width: 25px;
	height: 25px;
	background: #ddd;
	margin: 10px 10px;

	border-radius: 100%;
	position: relative;
	box-shadow: 0px 1px 3px rgba(0,0,0,1.5);
}

.digital-in label {
	display: block;
	width: 15px;
	height: 15px;
	border-radius: 100px;

	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 1;

	background: #333;
	box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
}

.digital-in input[type=checkbox]:checked + label {
	background: #26ca28;
}