<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>



<div style="width:400px; float: left"  xmlns="http://www.w3.org/1999/html">
    <fieldset>
        <legend>Program</legend>
        <p class="form-field">
            <button id="startButton" onclick="startSequencer()" class="button" value="Next">Start</button>
            <button id="stopButton" onclick="stopSequencer()" class="button" value="Next">Stop</button>
            <button id="resetButton" onclick="resetSequencer()" class="button" value="Next">Reset</button>
            <button id="nextButton" onclick="nextStep()" class="button" value="Next">Next</button>
            <button id="previousButton" onclick="previousStep()" class="button" value="Next">Previous</button>
        </p>


        <div style="overflow:scroll; height:500px;"  xmlns="http://www.w3.org/1999/html">

            <table class="program" border="1">
                <tr><th>#</th><th>Device</th><th>Action</th></tr>
                @sequence.readableSteps.map {step =>
                @if(step.stepDescription.isDefined){
                <tr id="step-description@step.id">
                    <td>@step.id</td>
                    <td colspan="2" id="stepDevice@step.id">@step.stepDescription</td>
                </tr>
                }else{
                <tr id="step@step.id">
                    <td>@step.id</td>
                    <td id="stepDevice@step.id">@step.deviceDescription</td>
                    <td id="stepDesc@step.id">@step.description @step.value</td>
                </tr>
                }
                }
            </table>
        </div>
    </fieldset>
</div>