
@import model.Device._
@import connectors.Configuration._
@(sequence: model.ReadableSequence, deviceCollection: model.DeviceCollection)

@main("K8055 Title") {
<h2>@deviceCollection.name : @deviceCollection.description</h2>
<div class="monitors-and-strobes">
  <fieldset>
    <legend>Monitors</legend>
    @deviceCollection.devices.filter(d=>d.deviceType == model.Device.MONITOR).map {monitor =>
      <fieldset>
        @monitor_enable(monitor)
        @if(monitor.monitorSensor.get.deviceType == model.Device.ANALOGUE_IN) {
          <div class="item-aligned">
              @analogue_out(monitor, "Target:", "monitor-temperature")
          </div>
          <div class="item-aligned">
            @monitor_sensor(monitor)
          </div>
          <div class="item-aligned">
            @monitor_increaser(monitor)
          </div>
        } else {
          <div class="item-aligned">
            @digital_sensor(monitor)
          </div>
          <div class="item-aligned">
            @digital_increaser(monitor, "monitor-increaser")
          </div>
        }
      </fieldset>
    }
  </fieldset>

  <fieldset>
    <legend>Strobes</legend>
    @deviceCollection.devices.filter(d=>d.deviceType == model.Device.STROBE).map {strobe =>
      <fieldset>
        @strobe_enable(strobe)
        <div class="item-aligned">
          @strobe_duration(strobe, "On Duration:", onDoubleDown, onDown, onUp, onDoubleUp, "strobe-on")
        </div>
        <div class="item-aligned">
          @strobe_duration(strobe, "Off Duration:", offDoubleDown, offDown, offUp, offDoubleUp, "strobe-off")
        </div>
        <div class="item-aligned">
          @digital_increaser(strobe, "strobe-increaser")
        </div>
      </fieldset>
    }
  </fieldset>
</div>


<div class="devices">
  <fieldset>
    <legend>Devices</legend>

    @deviceCollection.devices.filter(d=>(d.deviceType != model.Device.MONITOR) &&
                                        (d.deviceType != model.Device.STROBE)).map {device =>
      <div id="device@device.id" class="item-aligned">
        @{device.deviceType match {
          case ANALOGUE_IN => analogue_in(device)
          case ANALOGUE_OUT => analogue_out(device, device.id +": "+device.deviceType+": "+device.description+":", "device-val")
          case DIGITAL_IN => digital_in(device)
          case DIGITAL_OUT => digital_out(device)
          case _ => Html("<b>Bad Device</b>")
        }}
      </div>
    }
  </fieldset>


  <fieldset>
    <legend>Clock</legend>
    <div id="clock">
      <label id="clock-desc">Time Remaining:&nbsp;</label>
      <span id="clock-val"> 00:00:00 </span>
    </div>
  </fieldset>
</div>

<div class="program">
  <fieldset>
    <legend>Program</legend>
    <div class="form-field">
      <button id="startButton" onclick="startSequencer()" class="button" value="Next">Start</button>
      <button id="stopButton" onclick="stopSequencer()" class="button" value="Next">Stop</button>
      <button id="resetButton" onclick="resetSequencer()" class="button" value="Next">Reset</button>
      <button id="nextButton" onclick="nextStep()" class="button" value="Next">Next</button>
      <button id="previousButton" onclick="previousStep()" class="button" value="Next">Previous</button>
    </div>

    <div class="program-list">

      <table class="program" border="1">
        <tr><th>#</th><th>Device</th><th>Action</th></tr>
        @sequence.readableSteps.map {step =>
          @if(step.stepDescription.isDefined){
            <tr id="step-description@step.id">
              <td>@step.id</td>
              <td colspan="2" id="stepDevice@step.id">@step.stepDescription</td>
            </tr>
          }else{
            <tr id="step@step.id">
              <td>@step.id</td>
              <td id="stepDevice@step.id">@step.deviceDescription</td>
              <td id="stepDesc@step.id">@step.description @step.value</td>
            </tr>
          }
        }
      </table>
    </div>
  </fieldset>
</div>
}
